

.responsiveText {
  padding: 10px 10px 10px;
  margin: 0 auto;
  width: 80%;  /* this will change the number of images on row */
}

div.galleryAbout h3 {
    text-align:center;
    display: block;
    font-family: monospace;
    font-size: 25px;
    overflow: visible;
}

div.galleryAbout p {
    text-align:center;
    display: block;
    font-family: monospace;
    font-size: 15px;
    overflow: visible;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.responsive1 {
  padding: 10px 10px 10px;
  text-align: center;
  width: 100%;  /* this will change the number of images on row */
}

.responsive2 {
  padding: 10px 5px 10px;
      text-align: center;
  float: left;
  width: 50%;  /* this will change the number of images on row */
}


.responsive5 {
  padding: 10px 2px 10px;
  float: left;
  width: 20%;  /* this will change the number of images on row */
}

div.gallery1 video {
  width: 80%;
  height: auto;
}

div.gallery1 img {
  width: 80%;
  height: auto;
}

div.gallery2 img {
  width: 70%;
  height: auto;
}

div.galleryBreathingLight img {
  width: 86%;
  height: auto;
}

div.gallery1Soy img {
  width: 90%;
  height: auto;
}

div.gallery2Soy img {
  width: 75%;
  height: auto;
}

div.gallery1Origame img {
  width: 93%;
  height: auto;
}

div.gallery2Origame img {
  width: 80%;
  height: auto;
}

@media only screen and (max-width: 900px) {
  .responsive2 {
    width: 50%;
    margin: 6px 0;
  }

  .responsive5 {
    padding: 6px 0;
    width: 20%;  /* this will change the number of images on row */
  }
}

@media only screen and (max-width: 650px) {
  .responsive2 {
    width: 100%;
  }
}




