

    body {
      background-color:white;
      color:#111;
    }



    .monospace {
      font-family: "Lucida Console", Courier, monospace;
    }

    .wrapper {
        display: flex;
        width: 100%;
        align-items: stretch;
    }

/* ############################################## sidebar ################################################### */

    #sidebar {
        min-width: 250px;
        max-width: 250px;
        background: #fff;
        color: #fff;
        transition: all 0.3s;
        text-align:ltr;

          /* position: fixed; */
          height: 100%;
          overflow: auto;

    }

    #sidebar.active {
        margin-left: -250px;
    }

    #sidebar .sidebar-header {
        padding: 20px;
        background: #111;
    }

    #sidebar ul.components {
    padding: 15px;
    }

    #sidebar ul p {
        color: #fff;
        padding: 10px;
    }

    #sidebar ul li a {
        padding: 10px;
        color: #111;
        font-size: 1.1em;
        display: block;
    }

    #sidebar ul li a:hover {
        color: #efcb5e;
        background: #fff;
    }

    #sidebar ul li.active>a,
    a[aria-expanded="true"] {
        color: #fff;
        background: #efcb5e;
    }

    a[data-toggle="collapse"] {
        position: relative;
    }

    .dropdown-toggle::after {
        display: block;
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
    }

    ul ul a {
        font-size: 0.9em !important;
        padding-left: 30px !important;
        background: #efcb5e;
    }

    ul.CTAs {
        padding: 20px;
    }

    ul.CTAs a {
        text-align: center;
        font-size: 0.9em !important;
        display: block;
        border-radius: 5px;
        margin-bottom: 5px;
    }

    a.download {
        background: #fff;
        color: #7386D5;
    }

    a.article,
    a.article:hover {
        background: #6d7fcc !important;
        color: #fff !important;
    }

    #allR{
        color: grey;
        padding-left: 12px;
        position: fixed;
        text-align: left;
        bottom: 0;
        padding-bottom: 5px;
        width: 100%;
        font-size: 14px;
    }




/* ############################################## topOfPage ################################################### */

    #topOfPage a {
        padding-top: 15px;
        padding-right: 35px;
        padding-left: 10px;
        color: #111;
        font-size: 1.4em;
    }

    #rightTop{
        padding-top: 15px;
        position: absolute;
        right: 0;
     }

      #rightTop2{
        padding-top: 15px;
        position: absolute;
        right: 45px;
       }

/* ############################################## content ################################################### */

    #content {
        width: 100%;
        padding: 20px;
        min-height: 100vh;
        text-align:left;
        transition: all 0.3s;
    }


    #text {
        text-align:left;
         padding: 0 20px;

    }

   /*icons{
     padding-bottom: 50px;
    }*/


/* ############################################## media ################################################### */

    @media (max-width: 700px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}


/* ############################################### gallery ############################################### */

div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  width: 100%;
  height: auto;
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

.responsiveAbout {
  padding: 5px 7.5px 5px 7.5px;
  float: left;
  width: 50%;  /* this will change the number of images on row */
 }


div.galleryAbout img {
  width: 100%;
  height: auto;
  margin-top: 2em;
  margin-left: 1em;
}


div.galleryAbout pre {
    text-align:left;
      height: 50%;
    display: block;
    font-family: monospace;
    white-space: pre;
    margin-top:  2em;
    margin-left: 2em;
    /* margin: 5em 0;*/
    font-size: 14.4px;
    overflow: visible;
}


div.icons img {
     margin-left: 1em;
     padding: 2px 10px;
     margin-bottom: 10px;
}

div.gallery video {
  width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 5px 7.5px 10px;
  float: left;
  width: 33%;  /* this will change the number of images on row */
}

.responsive_gif {
  padding: 5px 7.5px 10px;
  float: left;
  width: 33%;  /* this will change the number of images on row */
}

@media only screen and (max-width: 1000px) {
  .responsive {
    width: 49%;
    margin: 6px 0;
  }

    .responsive_gif {
      width: 48.4%;
      margin: 6px 0;
    }

    .responsiveAbout {
      padding: 5px 7.5px 5px;
      float: left;
      width: 100%;  /* this will change the number of images on row */
    }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }

  .responsive_gif {
    width: 100%;
  }

  .responsiveAbout {
    padding: 5px 7.5px 5px;
    float: left;
    width: 100%;  /* this will change the number of images on row */
  }
}

div.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
