
.item1 {
  grid-area: text;
}

.item2 {
  grid-area: photo_1;
}

.item3 {
  grid-area: photo_2;
}

.item4 {
  grid-area: photo_3;
}

.grid-container {
  display: grid;
  grid-template-areas: 'text text'
                            'photo_1 photo_1'
                            'photo_2 photo_2'
                            'photo_3 photo_3';
  grid-gap: 10px;
  background-color:white;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8); /* i should change that for the background of the photos */
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}


@media only screen and (max-width: 850px) {
    .item1 { grid-area: 1 / span 2; }
    .item2 { grid-area: 2 / span 2; }
    .item3 { grid-area: 3 / span 2; }
    .item4 { grid-area: 4 / span 2; }

}

